В одной из кодировок {{encodingFrom}} каждый символ кодируется {{encodingFrom}} битами. Дима написал текст (в нем нет
лишних пробелов):

", Cg, Cat, Ruby, Swift, Delphi, Haskell" — языки программирования».

Ученик вычеркнул из списка название одного из языков программирования. Заодно он вычеркнул ставшие лишними запятые и пробелы  — два пробела не должны идти подряд.

При этом размер нового предложения в данной кодировке оказался на 9 байт меньше, чем размер исходного предложения. Напишите в ответе вычеркнутое название языка программирования.